
body {
    color:aliceblue;
    background: linear-gradient(to right,#696969,#4b4b4b,#4b4b4b, #696969);
    align-items: center;
}
header {
    font: normal 3vh arial;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

section{ 
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 10rem;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
/* inserir nome da equipe*/
.NomeEquipe{
    margin: 10px auto;
    align-items: center;
    font-family: arial;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    background-color:rgb(92, 92, 92);
    border-bottom: 3px solid rgb(85, 85, 85);
    border-left: 3px solid rgb(92, 92, 92);
    border-top: 3px solid rgb(85, 85, 85);
    border-right:3px solid rgb(92, 92, 92);
    width:95%;
    height: 3rem;
    outline: none;
}

/* icone de ajuda e input de nome */
.meuElemento {
    justify-content: center;
    height: 3rem;
    display: flex;
    align-items: center;
}

/* mensagem do popup 1*/
#popup1 {
    font: normal 2vh arial;
    display: none;
    position: absolute;
    top: 0; 
    left: 0rem; 
    background-color: rgb(92, 92, 92);
    background-color:rgb(92, 92, 92);
    border-bottom: 3px solid aliceblue;
    border-left: 3px solid rgb(92, 92, 92);
    border-top: 3px solid aliceblue;
    border-right:3px solid rgb(92, 92, 92);
    padding: 0.5rem;
}

/* mensagem do popup 2*/
#popup2 {
    font: normal 2vh arial;
    display: none;
    position: absolute;
    top: 0; 
    right: 0rem; 
    background-color: rgb(92, 92, 92);
    background-color:rgb(92, 92, 92);
    border-bottom: 3px solid aliceblue;
    border-left: 3px solid rgb(92, 92, 92);
    border-top: 3px solid aliceblue;
    border-right:3px solid rgb(92, 92, 92);
    padding: 0.5rem;
}

/* ajuste de imagem de exclamação*/
.exclamação{
    width: 30px;
    height: 28px;
    margin-right: 10px;

}
.alinhaBTN-CONT {
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

/* Botões em geral */
button {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5%;
    cursor: pointer;
    opacity: 70%;
    border-radius: 10px;
 
}

/* Botoes adição e subtracão*/
.btnA {
    background-color:#4c2be2 ;
    width: 40%;
    height: 60%;
    border-top: 5px solid#4425cf;
    border-right: 5px solid#4425cf;
    border-bottom: 3px solid rgb(49, 49, 49);
    border-left: 3px solid rgb(49, 49, 49);
}
.btnV {
    background-color:#d62626 ;
    width: 40%;
    height: 60%;
    border-top: 5px solid#bb2222;
    border-right: 5px solid#bb2222;
    border-bottom: 3px solid rgb(49, 49, 49);
    border-left: 3px solid rgb(49, 49, 49);
}

/*Botao truco*/
#btnTrucoA {
    width: 100%;
    background-color:#4c2be2 ;
    border-top: 5px solid#4425cf;
    border-right: 5px solid#4425cf;
    border-bottom: 3px solid rgb(49, 49, 49);
    border-left: 3px solid rgb(49, 49, 49);
}
#btnTrucoV{
    width: 100%;
    background-color:#d62626 ;
    border-top: 5px solid#bb2222;
    border-right: 5px solid#bb2222;
    border-bottom: 3px solid rgb(49, 49, 49);
    border-left: 3px solid rgb(49, 49, 49);
}


/* Div placar equipe Azul*/
.caixa_contador1{
    min-width: 40%;
    width: 90%;
    background: rgb(92, 92, 92);
    margin: 30px;
    padding: 2vh;
    border-bottom: 3px solid rgb(49, 49, 49);
    border-left: 3px solid rgb(49, 49, 49);
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    border-radius: 15px;
}
/* Div placar equipe Vermelho*/
.caixa_contador2{
    min-width: 40%;
    width: 90%;
    background: rgb(92, 92, 92);
    margin: 30px;
    padding: 2vh;
    border-bottom: 3px solid rgb(48, 48, 48);
    border-left: 3px solid rgb(48, 48, 48);
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    border-radius: 15px;
}

/* placar Azul*/
#contador1 {
    background-color:rgb(92, 92, 92);
    font-size: 5rem;
    text-align: center;
    width: 50%;
    height: 60%;
    border-bottom: 3px solid rgb(85, 85, 85);
    border-left: 3px solid rgb(92, 92, 92);
    border-top: 3px solid rgb(85, 85, 85);
    border-right:3px solid rgb(92, 92, 92);
    text-shadow: 0 0 1rem #4c2be2;
    outline: none;
}

/*  placar Vermelho*/
#contador2 {
    background-color:rgb(92, 91, 91);
    font-size: 5rem;
    text-align: center;
    width: 50%;
    height: 60%;
    border-bottom: 3px solid rgb(85, 85, 85);
    border-left: 3px solid rgb(92, 92, 92);
    border-top: 3px solid rgb(85, 85, 85);
    border-right:3px solid rgb(92, 92, 92);
    text-shadow: 0 0 1rem #bb2222;
    outline: none;
}

/* Estilo para o bloco de redes sociais dentro do footer */
footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 3px solid white;
    margin-left: 14%;
    margin-right: 14%;
}
p {
    padding-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    border-right:2px solid white ;
    padding-right: 1%;
    
}

/* alinhamento das imagens de redes sociais */
footer img {
    width: 4vh;
    height: 2vh;
    margin: 10px;
    padding: 1vh;
    max-width: 100%;
    height: auto;
    
}
